{
	"type" : "mechmultidrone",

	"categories" : [  ],
	"parts" : [  ],

	"animation" : "mechmultidrone.animation",

	"dropPools" : [
		{
			"default" : "empty"
		}
	],

	"parameters" : {

		"ownerId" : null,
		"clientsideSounds" : [],
		"velocity" : [0,0],

		"renderLayer" : "Player+1",

		"scripts" : [
			"/mpguns_core/casingConfigs/casing.lua"
		],
		"initialScriptDelta" : 1,


		"movementSettings" : {
			"collisionEnabled" : true,
			"gravityEnabled" : true,
			"mass" : 2.0,
			"gravityMultiplier" : 1.0,
			"bounceFactor" : 0.75,
			"stopOnFirstBounce" : true,
			"maxMovementPerStep" : 0.4,			
			"collisionPoly" : [ [-0.125, -0.125], [0.125, -0.125], [0.125, 0.125], [-0.125, 0.125] ],
			"ignorePlatformCollision" : false,			
			"airFriction" : 1.0,
			"liquidFriction" : 1.0,
			"groundFriction" : 1.0,
			"maximumCorrection" : 0.75
		},


		"metaBoundBox" : [0, 0, 0, 0],
		"scale" : 1.0,

		"statusSettings" : {
			"primaryScriptSources" : []
		},

		"animationCustom" : {
			"globalTagDefaults" : {
				"directives" : "",
				"magimage" : "",
				"magimagefullbright" : ""
			},
		
			"animatedParts" : {
				"stateTypes" : {
					"droneState" : {
						"default" : "none",
						"states" : {
							"none" : {},
							"deploy" : {"frames":4,"cycle":0.5,"mode":"transition","transition":"active"},
							"active" : {"frames":4,"cycle":0.5,"mode":"loop","properties":{"persistentSound":"/assetmissing.ogg","persistentSoundRangeMultiplier":0.5}}
						}
					}
				},
		
				"parts" : {
					"mag" : {
						"properties" : {
							"zLevel" : 1,
							"transformationGroups" : ["body"],
							"image" : "<magimage>"
						}
					},
					"magfullbright" : {
						"properties" : {
							"zLevel" : 2,
							"fullbright" : true,
							"transformationGroups" : ["body"],
							"image" : "<magimagefullbright>"
						}
					},

					"body" : {
						"properties" : {
							"transformationGroups" : [],
							"image" : ""
						},
						"partStates" : {
							"droneState" : {
								"deploy" : {
									"properties" : {
										"image" : "<partImage>:deploy.<frame><directives>"
									}
								},
								"active" : {
									"properties" : {
										"image" : "<partImage>:active.<frame><directives>"
									}
								}
							}
						}
					},
					"bodyFullbright" : {
						"properties" : {"transformationGroups":[],"fullbright":true,"zLevel":1},
						"partStates" : {"droneState":{"deploy":{"properties":{"image":""}},"active":{"properties":{"image":""}}}}
					}
				}
			},
		
			"transformationGroups" : {
				"body" : {}
			},
		
			"particleEmitters" : {
				 "deathPoof" : {
					"particles" : []
				}
			},
		
			"effects" : {},
		
			"sounds" : {
				"fire" : [ ],
				"turnHostile" : [ ],
				"deathPuff" : [ ]
			}
		}
	},

	"baseParameters" : {
		"clientEntityMode" : "ClientMasterAllowed",

		"scripts" : [
			"/monsters/mechdrone/drone.lua"
		],
		"initialScriptDelta" : 2,

		"level" : 1,

		"metaBoundBox" : [-5, -5, 5, 5],
		"scale" : 1.0,

		"movementSettings" : {
			"collisionEnabled" : false,
			"collisionPoly" : [ [-3, -1], [-3, 1], [1, 2.75], [2, 0], [1, -2.75] ],

			"gravityEnabled" : false,

			"mass" : 0.5,
			"flySpeed" : 80,
			"airForce" : 300,

			"airFriction" : 0,

			"physicsEffectCategories" : []
		},

		"bodyMaterialKind" : "robotic",

		"knockoutTime" : 0.1,
		"knockoutEffect" : "",
		"deathParticles" : "deathPoof",

		"damageTeamType" : "assistant",

		"statusSettings" : {
			"statusProperties" : {
				"targetMaterialKind" : "robotic"
			},

			"appliesEnvironmentStatusEffects" : false,
			"appliesWeatherStatusEffects" : false,
			"minimumLiquidStatusEffectPercentage" : 0.1,

			"primaryScriptSources" : [
				"/monsters/mechdrone/drone_status.lua"
			],
			"primaryScriptDelta" : 1,

			"stats" : {
				"flatMaxHealth" : {
					"baseValue" : 1
				},
				"healthRegen" : {
					"baseValue" : 0.0
				}
			},

			"resources" : {
				"health" : {
					"maxStat" : "flatMaxHealth",
					"deltaStat" : "healthRegen",
					"defaultPercentage" : 100
				}
			}
		},

		"mouthOffset" : [0, 0],
		"feetOffset" : [0, -8],
		"capturable" : false,
		"relocatable" : false
	}
}
