{
    "power" : 1, 
    "timeToLive" : 0.5,
    "speed" : 1000,
    "processing" : "?crop;0;0;1;1?setcolor=fff?replace;fff0=fff?border=1;fff;000?scale=1.15;1.12?crop;1;1;3;3?replace;fbfbfb=000;eaeaea=160000;e4e4e4=000003;6a6a6a=160003?multiply=fff0?scale=21.5;2.5?crop=0;0;22;3?replace;02000100=ffff0001;03000000=ff800002;03000100=ff99000a;03000200=ff800002;04000000=ff800002;04000100=ffa4120e;04000200=ff800002;05000000=ff800004;05000100=ff9d0a1a;05000200=ff800004;06000000=ff920007;06000100=ff9b0b2e;06000200=ff920007;07000000=ff9f0008;07000100=ffbb0a31;07000200=ff9f0008;08000000=ffc60009;08000100=ffc30937;08000200=ffc60009;09000000=ffd23c11;09000100=ffd04261;09000200=ffd23c11;0a000000=ffedca1d;0a000100=ffecc9a2;0a000200=ffedca1d;0b000000=ffa1261b;0b000100=ffa32798;0b000200=ffa1261b;0c000000=ff800004;0c000100=ff900017;0c000200=ff800004",
    "actionOnReap" : [
        {
            "action" : "loop",
            "count" : 6,
            "body" : [
                {
                    "action" : "particle",
                    "specification" : {
                        "type" : "ember",
                        "size" : 0.75,
                        "color" : [253, 160, 57, 255],
                        "fullbright" : true,
                        "trail" : true,
                        "light" : [100, 50, 6],
                        "initialVelocity" : [0.0, 0.0],
                        "finalVelocity" : [0.0, 0.0],
                        "approach" : [0, 0],
                        "timeToLive" : 0.064,
                        "layer" : "middle",
                        "variance" : {
                            "size" : 0.25,
                            "initialVelocity" : [16.0, 16.0]
                        }
                    }
                }
            ]
        },
        {
            "action" : "loop",
            "count" : 3,
            "body" : [
                {
                    "action" : "particle",
                    "specification" : {
                        "type" : "ember",
                        "size" : 0.75,
                        "color" : [255, 222, 100, 255],
                        "fullbright" : true,
                        "trail" : true,
                        "initialVelocity" : [0.0, 0.0],
                        "finalVelocity" : [0.0, 0.0],
                        "approach" : [0, 0],
                        "timeToLive" : 0.064,
                        "layer" : "middle",
                        "variance" : {
                            "size" : 0.25,
                            "initialVelocity" : [16.0, 16.0]
                        }
                    }
                }
            ]
        },
        {
            "action" : "loop",
            "count" : 3,
            "body" : [
                {
                    "action" : "particle",
                    "specification" : {
                        "type" : "ember",
                        "size" : 0.75,
                        "color" : [255, 255, 255, 255],
                        "fullbright" : true,
                        "trail" : true,
                        "initialVelocity" : [0.0, 0.0],
                        "finalVelocity" : [0.0, 0.0],
                        "approach" : [0, 0],
                        "timeToLive" : 0.064,
                        "layer" : "middle",
                        "variance" : {
                            "size" : 0.25,
                            "initialVelocity" : [16.0, 16.0]
                        }
                    }
                }
            ]
        },
        {
            "action" : "sound",
            "options" : [ 
                "/sfx/projectiles/bullet_ricochet1.ogg",
                "/sfx/projectiles/bullet_ricochet2.ogg",
                "/sfx/projectiles/bullet_ricochet3.ogg",
                "/sfx/projectiles/bullet_ricochet4.ogg",
                "/sfx/projectiles/bullet_ricochet5.ogg",
                "/sfx/projectiles/bullet_ricochet6.ogg",
                "/sfx/projectiles/bullet_ricochet7.ogg",
                "/sfx/projectiles/bullet_ricochet8.ogg",
                "/sfx/projectiles/bullet_ricochet9.ogg",
                "/sfx/projectiles/bullet_ricochet10.ogg",
                "/sfx/projectiles/bullet_ricochet11.ogg",
                "/sfx/projectiles/bullet_ricochet12.ogg",
                "/sfx/projectiles/bullet_ricochet13.ogg"
            ]
        }
    ],
    "periodicActions" : []
}