{
    "power" : 1, 
    "timeToLive" : 0.5, 
    "speed" : 1000,
    "processing" : "?crop;0;0;1;1?setcolor=fff?replace;fff0=fff?border=1;fff;000?scale=1.15;1.12?crop;1;1;3;3?replace;fbfbfb=0000;eaeaea=53000000;e4e4e4=00000100;6a6a6a=53000100?scale=82.5;0.5?crop=0;0;83;1?replace;04000000=f000;05000000=f300;06000000=f601;07000000=f811;08000000=f912;09000000=fa32;0a000000=fb53;0b000000=fb63;0c000000=fc74;0d000000=fc84;0e000000=fc95;0f000000=fd95;10000000=fda6;1000=fda6;12000000=fda6;13000000=fda7;14000000=fda7;15000000=fda7;16000000=fda7;17000000=fda7;18000000=fda7;19000000=fda7;1a000000=fda7;1b000000=fda7;1c000000=fda7;1d000000=fda7;1e000000=fda7;1f000000=fda7;20000000=fda7;21000000=fda7;2000=fda7;23000000=fc88;24000000=fa6c;25000000=fb5;26000000=fc6;27000000=feb;28000000=ffe;29000000=fff;2a000000=ffe;2b000000=ffe;2c000000=fff;2d000000=ffe;2e000000=fd8d;2f000000=fb45;30000000=fd81;31000000=fb20;32000000=f800",
    "actionOnReap" : [
        {
            "action" : "projectile",
            "inheritDamageFactor" : 0.5,
            "type" : "bullet-4",
            "config" : {
                "timeToLive" : 0.016, 
                "speed" : 1000,
                "processing" : "?crop;0;0;1;1?setcolor=fff?replace;fff0=fff?border=1;fff;000?scale=1.15;1.12?crop;1;1;3;3?replace;fbfbfb=0000;eaeaea=53000000;e4e4e4=00000100;6a6a6a=53000100?scale=82.5;0.5?crop=0;0;83;1?replace;04000000=f000;05000000=f300;06000000=f601;07000000=f811;08000000=f912;09000000=fa32;0a000000=fb53;0b000000=fb63;0c000000=fc74;0d000000=fc84;0e000000=fc95;0f000000=fd95;10000000=fda6;1000=fda6;12000000=fda6;13000000=fda7;14000000=fda7;15000000=fda7;16000000=fda7;17000000=fda7;18000000=fda7;19000000=fda7;1a000000=fda7;1b000000=fda7;1c000000=fda7;1d000000=fda7;1e000000=fda7;1f000000=fda7;20000000=fda7;21000000=fda7;2000=fda7;23000000=fc88;24000000=fa6c;25000000=fb5;26000000=fc6;27000000=feb;28000000=ffe;29000000=fff;2a000000=ffe;2b000000=ffe;2c000000=fff;2d000000=ffe;2e000000=fd8d;2f000000=fb45;30000000=fd81;31000000=fb20;32000000=f800",
                "movementSettings" : {
                    "collisionEnabled" : false
                },
                "actionOnTimeout" : [
                    {
                        "action" : "projectile",
                        "inheritDamageFactor" : 0.5,
                        "type" : "bullet-4",
                        "config" : {
                            "timeToLive" : 0.5, 
                            "speed" : 1000,
                            "processing" : "?crop;0;0;1;1?setcolor=fff?replace;fff0=fff?border=1;fff;000?scale=1.15;1.12?crop;1;1;3;3?replace;fbfbfb=0000;eaeaea=53000000;e4e4e4=00000100;6a6a6a=53000100?scale=82.5;0.5?crop=0;0;83;1?replace;04000000=f000;05000000=f300;06000000=f601;07000000=f811;08000000=f912;09000000=fa32;0a000000=fb53;0b000000=fb63;0c000000=fc74;0d000000=fc84;0e000000=fc95;0f000000=fd95;10000000=fda6;1000=fda6;12000000=fda6;13000000=fda7;14000000=fda7;15000000=fda7;16000000=fda7;17000000=fda7;18000000=fda7;19000000=fda7;1a000000=fda7;1b000000=fda7;1c000000=fda7;1d000000=fda7;1e000000=fda7;1f000000=fda7;20000000=fda7;21000000=fda7;2000=fda7;23000000=fc88;24000000=fa6c;25000000=fb5;26000000=fc6;27000000=feb;28000000=ffe;29000000=fff;2a000000=ffe;2b000000=ffe;2c000000=fff;2d000000=ffe;2e000000=fd8d;2f000000=fb45;30000000=fd81;31000000=fb20;32000000=f800",
                            "actionOnReap" : [
                                {
                                    "action" : "loop",
                                    "count" : 6,
                                    "body" : [
                                        {
                                            "action" : "particle",
                                            "specification" : {
                                                "type" : "ember",
                                                "size" : 0.75,
                                                "color" : [253, 160, 57, 255],
                                                "fullbright" : true,
                                                "trail" : true,
                                                "initialVelocity" : [0.0, 0.0],
                                                "finalVelocity" : [0.0, 0.0],
                                                "approach" : [0, 0],
                                                "timeToLive" : 0.1,
                                                "layer" : "middle",
                                                "variance" : {
                                                    "size" : 0.25,
                                                    "initialVelocity" : [8.0, 8.0]
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "action" : "loop",
                                    "count" : 3,
                                    "body" : [
                                        {
                                            "action" : "particle",
                                            "specification" : {
                                                "type" : "ember",
                                                "size" : 0.75,
                                                "color" : [255, 222, 100, 255],
                                                "fullbright" : true,
                                                "trail" : true,
                                                "initialVelocity" : [0.0, 0.0],
                                                "finalVelocity" : [0.0, 0.0],
                                                "approach" : [0, 0],
                                                "timeToLive" : 0.1,
                                                "layer" : "middle",
                                                "variance" : {
                                                    "size" : 0.25,
                                                    "initialVelocity" : [8.0, 8.0]
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "action" : "loop",
                                    "count" : 3,
                                    "body" : [
                                        {
                                            "action" : "particle",
                                            "specification" : {
                                                "type" : "ember",
                                                "size" : 0.75,
                                                "color" : [255, 255, 255, 255],
                                                "fullbright" : true,
                                                "trail" : true,
                                                "initialVelocity" : [0.0, 0.0],
                                                "finalVelocity" : [0.0, 0.0],
                                                "approach" : [0, 0],
                                                "timeToLive" : 0.1,
                                                "layer" : "middle",
                                                "variance" : {
                                                    "size" : 0.25,
                                                    "initialVelocity" : [8.0, 8.0]
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "action" : "sound",
                                    "options" : [ 
                                        "/sfx/projectiles/bullet_ricochet1.ogg",
                                        "/sfx/projectiles/bullet_ricochet2.ogg",
                                        "/sfx/projectiles/bullet_ricochet3.ogg",
                                        "/sfx/projectiles/bullet_ricochet4.ogg",
                                        "/sfx/projectiles/bullet_ricochet5.ogg",
                                        "/sfx/projectiles/bullet_ricochet6.ogg",
                                        "/sfx/projectiles/bullet_ricochet7.ogg",
                                        "/sfx/projectiles/bullet_ricochet8.ogg",
                                        "/sfx/projectiles/bullet_ricochet9.ogg",
                                        "/sfx/projectiles/bullet_ricochet10.ogg",
                                        "/sfx/projectiles/bullet_ricochet11.ogg",
                                        "/sfx/projectiles/bullet_ricochet12.ogg",
                                        "/sfx/projectiles/bullet_ricochet13.ogg"
                                    ]
                                }
                            ]
                        }
                    }
                ]
            }
        },
        {
            "action" : "loop",
            "count" : 6,
            "body" : [
                {
                    "action" : "particle",
                    "specification" : {
                        "type" : "ember",
                        "size" : 0.75,
                        "color" : [253, 160, 57, 255],
                        "fullbright" : true,
                        "trail" : true,
                        "initialVelocity" : [0.0, 0.0],
                        "finalVelocity" : [0.0, 0.0],
                        "approach" : [0, 0],
                        "timeToLive" : 0.1,
                        "layer" : "middle",
                        "variance" : {
                            "size" : 0.25,
                            "initialVelocity" : [8.0, 8.0]
                        }
                    }
                }
            ]
        },
        {
            "action" : "loop",
            "count" : 3,
            "body" : [
                {
                    "action" : "particle",
                    "specification" : {
                        "type" : "ember",
                        "size" : 0.75,
                        "color" : [255, 222, 100, 255],
                        "fullbright" : true,
                        "trail" : true,
                        "initialVelocity" : [0.0, 0.0],
                        "finalVelocity" : [0.0, 0.0],
                        "approach" : [0, 0],
                        "timeToLive" : 0.1,
                        "layer" : "middle",
                        "variance" : {
                            "size" : 0.25,
                            "initialVelocity" : [8.0, 8.0]
                        }
                    }
                }
            ]
        },
        {
            "action" : "loop",
            "count" : 3,
            "body" : [
                {
                    "action" : "particle",
                    "specification" : {
                        "type" : "ember",
                        "size" : 0.75,
                        "color" : [255, 255, 255, 255],
                        "fullbright" : true,
                        "trail" : true,
                        "initialVelocity" : [0.0, 0.0],
                        "finalVelocity" : [0.0, 0.0],
                        "approach" : [0, 0],
                        "timeToLive" : 0.1,
                        "layer" : "middle",
                        "variance" : {
                            "size" : 0.25,
                            "initialVelocity" : [8.0, 8.0]
                        }
                    }
                }
            ]
        },
        {
            "action" : "sound",
            "options" : [ 
                "/sfx/projectiles/bullet_ricochet1.ogg",
                "/sfx/projectiles/bullet_ricochet2.ogg",
                "/sfx/projectiles/bullet_ricochet3.ogg",
                "/sfx/projectiles/bullet_ricochet4.ogg",
                "/sfx/projectiles/bullet_ricochet5.ogg",
                "/sfx/projectiles/bullet_ricochet6.ogg",
                "/sfx/projectiles/bullet_ricochet7.ogg",
                "/sfx/projectiles/bullet_ricochet8.ogg",
                "/sfx/projectiles/bullet_ricochet9.ogg",
                "/sfx/projectiles/bullet_ricochet10.ogg",
                "/sfx/projectiles/bullet_ricochet11.ogg",
                "/sfx/projectiles/bullet_ricochet12.ogg",
                "/sfx/projectiles/bullet_ricochet13.ogg"
            ]
        }
    ],
    "periodicActions" : []
}